<% provide(:title, "About") %>
<h1>About Us</h1>
<center>
<p>
  This is the web user interface for classification systems made by Team Trappist at Gebze Technical University.
  <br>
  You can classify an image with many algorithms such as neural networks, support vector machines and etc.
  <br>
  This project is built for Software Engineering Term Project.
  <br>

  <%= link_to image_tag("nn.png", alt: "Neural Net", width: 400, height: 300) %>
</center>
  




  <br><br><br><br><br><br>
  <br><br><br><br><br><br>
</p>