<% provide(:title, "About") %>
<div class="container">
  <div class="jumbotron">
    <div class="container" >
      <div class="center page-header"><h3>About Project</h3></div>
      <p>
        This is an online image classifier that using neural networks(AlexNet) for predictions.<br>
        Image url or an image from local computer can be used for classifying.<br>
        The system makes predictions over 1000 separate classes. You can download class labels, <%= link_to "here!", :action => :down %><br>
        <%= link_to "Caffe", "http://caffe.berkeleyvision.org" %> was used for prediction module. <br>
        Prediction process may takes more time from what you expect because of Caffe is running on CPU mode.<br>

        <%= link_to image_tag("nn.png", alt: "Neural Net", width: 400, height: 300) %>
    </p>
    </div>
  </div>
</div>