<% provide(:title, "Contact") %>
<h1>Contact</h1>
	<h3> Developer Team </h3>
<table>
  <tr> 
  	<th class = "col" > <center>	<%= image_tag("profile.png", alt:"Profile Pic", width:128, height:128)
	%>  </center></th> 
  	<th class = "col" > <center> <strong>Emrah YILDIRIM</strong> <br>
  		<a href="mailto:emrahyildirim.ist@gmail.com" target="_top">
  			<i class="fa fa-envelope-square fa-3x" aria-hidden="true"> </i>
  		</a>
  		<a href="https://www.github.com/emrahyldrm" target="_blank"> 
  			<i class="fa fa-github-square fa-3x" aria-hidden="true"> </i>
  		</a> 
  		<a href="https://www.linkedin.com/in/emrah-yildirim-b69ba784/" target="_blank">
  			<i class="fa fa-linkedin-square fa-3x" aria-hidden="true" ></i>
  		</a>
  	</center> </th> 
  </tr>
</table>
