<% provide(:title, "Contact") %>
<h1>Contact</h1>
	<h3> Developer Team </h3>
<table>
  <tr> 
  	<th class = "col" > <center>	<%= image_tag("profile.png", alt:"Profile Pic", width:128, height:128)
	%>  </center></th> 
  	<th class = "col" > <center> Emrah YILDIRIM <br> emrahyildirim@gmail.com <br> <a href="https://www.github.com/emrahyldrm" target="_blank"> Github </a></center> </th> 
  </tr>
  <br>
	<tr> 
		<th class = "col"> <center>	<%= image_tag("profile.png", alt:"Profile Pic", width:128, height:128)
	%>  </center> </th> 
		<th class = "col"> <center> Yusuf ALTUN <br> yusufaltun@gmail.com</center> </th> 
	</tr>
</table>

